.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    text-align: center;
  }
  .header {
    background-color: rgb(224, 224, 224);
    grid-column: 1/4;
    text-align: center;
  }